body{
    background-color: #FFFFF0;
    font-family: sans-serif;
    margin:0px;
}
h1#mainTitle{
    font-size: 200%;
    padding-top: .25em;
    padding-bottom: .25em;
    margin: 0px;
    margin-left: 1em;
}
h2#mainHeading{
    font-size: 150%;
    margin: 0px;
    margin-left: 1em;
}
img.Logo{
    float:right;
    background-color: black;
}
nav ol li{
    display: inline;
    font-size: 125%;
    padding-right: 1em;
}
nav ol li a{
    text-decoration: none;
    color: black;
}
nav ol li a:hover{
    font-style: italic;
    text-decoration: underline; 
}
    
nav{
    text-align: left;
    background-color: #CCCC99;
    width: 100%;
    margin:0px;
    border-top: thin solid black;
    border-bottom: thin solid black;

}
nav ol{
    padding-top: 1.9em;
    padding-bottom: .1em;
}
li.gdlogo img{
    height: 4em;
    width: 4em;
}
li.gdlogo{
    float: right;
}
li.activePage{
    text-decoration: underline;
}
article{
    clear: both;
    margin: auto;
}
aside{
    width: 25%;
    height: 17em;;
    border: solid thin black;
    border-radius: 1em;
    margin: 3em;
    float: left;
    overflow: hidden;
    background-color: white;
}
aside h1{
    font-weight: bold;
    background-color: orange;
    margin-top: 0px;
    margin-bottom: .4em;
    padding-top: .5em;
    padding-left: 1em;
    padding-bottom: .25em;
}
aside h1 a{
    color: black;
}
aside h1 a:hover{
    font-style: italic;
}
aside p{
    padding-left: .5em;
    padding-top: .25em;
    margin: 0px;
}
aside h4{
    margin-top: .2em;
    padding: .2em;
    background-color: orange;
}

